 .box{
    /*background: #ddd;*/
  }
  a{
    text-decoration: none;
  }
  /*#content{
    min-width: 1250px;
  }*/
  /*-----top开始----------*/
  header.el-header{
    /*background-color: #B3C0D1;*/
    /*border: 1px solid pink;*/
  }
  .el-header .title{
    height: 120px;
    line-height: 120px;
    text-align: center;
    background: url('../../../static/image/title.png') no-repeat;
    background-size: 80% 80%;
  }
  .el-header .nav{
    margin-top: 50px;
  }
  .el-header .change-sex {
    text-align: right;
  }
  .el-header .change-sex img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-top: 10px;
    border: 2px solid #000;
  }
  .el-header .change-sex img.boy{
    margin-right: 5px;
  }
  .el-header .change-sex img.active{
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
  .el-menu--horizontal{
    border: none;
  }
  .el-menu--horizontal>.el-menu-item{
    color: #fff;
    font-size: larger;
    padding: 0 30px;
    text-shadow: 1px 1px #000;
  }
  .el-menu--horizontal>.el-menu-item.is-active{
    color: #409EFF;
  }
 .el-menu-item:hover{
    color: #409EFF;
    background:none;
 }
 .el-menu--horizontal .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal .el-menu-item:not(.is-disabled):hover{
    color: #409EFF;
 }
  .el-menu--horizontal>.el-menu-item:not(.is-disabled):hover, .el-menu--horizontal>.el-submenu .el-submenu__title:hover{
    background: none;
  }
  .el-header .top-nav{
    /*margin-left: 100px;*/
    background: transparent;
  }
  /*-----top结束----------*/

  /*-----bottom开始----------*/
  .el-footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: #B3C0D1;
  }
  /*-----bottom结束----------*/